h1, h2 {
    text-align: center;
}

.p1 {
    font-style: italic;
}
.dp {
    border: 2px black solid;
    padding: 30px;
    margin: 100px;
}
button {
    font-size: 100px;
}
body {
    background-color: lemonchiffon;
  }
.new{
    text-align: center;
}